$myColor : cadetblue;

.grid-container{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
   & .grid-heading{
        color: $myColor;
    }
}
